.card {
    transition: box-shadow 300ms ease-in;
}

.card:hover {
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.2);
}

.icons a img {
    width: calc(var(--icon-size) + 5px);
    height: calc(var(--icon-size) + 5px);
}

@media (max-width: 992px) {
    .title button:hover {
        color: black;
        background: white;
        box-shadow: none !important;
        outline: none !important;
    }
}
