@media (min-width: 992px) {
    .table {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .table {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .table {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575.98px) {
    .table {
        grid-template-columns: 1fr;
    }
    .icons a img {
        width: 40px !important;
        height: 40px !important;
    }
    .nicknameText {
        margin-bottom: 1.5rem !important;
    }
    .icons {
        margin-top: 10px;
    }
    .teamType {
        width: 40px !important;
        height: 40px !important;
    }
}

.table {
    grid-row-gap: 20px;
    grid-column-gap: 10%;
    display: grid;
    margin: 20px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bold {
    font-weight: bold;
}

.glyphTime {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.teamType {
    width: 30px;
    height: 30px;
    border-radius: 10%;
    margin-right: 10px;
}

.icons a img {
    width: 30px;
    height: 30px;
}

.nicknameText {
    font-size: 1.6em;
    margin-bottom: 0.5rem;
}

.icons {
    display: flex;
    flex-grow: 1;
}

.icons a {
    margin-right: 10px;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

