@media (min-width: 992px) {
    .table {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .table {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .table {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575.98px) {
    .table {
        grid-template-columns: 1fr;
    }
}

.table {
    grid-row-gap: 20px;
    grid-column-gap: 10%;
    display: grid;
    margin: 20px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}