.card {
    position: absolute !important;
    left: 0%;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
}

@media (max-width: 992px) {
    .card {
        top: 160px;
        left: calc(50% - 155px)
    }

    .title button:hover {
        color: black;
        background: white;
    }
}

.title {
    font-size: 1.6rem !important;
    cursor: default;
    margin-left: auto;
    margin-right: auto;
}

.title button {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.6rem;
}

.title button:focus {
    outline: none;
    box-shadow: none;
}

.icons a img {
    width: 35px;
    height: 35px;
}

.card div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.icons {
    display: flex;
    justify-content: space-between; 
    padding-left: 50px;
    padding-right: 50px;
}

.cardBody{
    padding-top: 10px;
    padding-bottom: 10px;
}