.card {
    width: 300px;
}

@media (max-width: 992px) {
    .title button:hover {
        color: black;
        background: white;
        box-shadow: none !important;
        outline: none !important;
    }
}

.title {
    font-size: 1.6rem !important;
    cursor: default;
    margin-left: auto;
    margin-right: auto;
}

.title button {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.6rem;
}

.icons a img {
    width: 35px;
    height: 35px;
}

.card div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.icons {
    display: flex;
    justify-content: space-around; 
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 5px;
}

.cardBody{
    padding-top: 10px;
    padding-bottom: 10px;
}