.formGroup {
    display: flex;
    justify-content: center;
}

.lineedit {
    width: auto !important;
    margin-right: 10px;
    border-radius: 15px !important;
    padding-left: 10px;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
}