.link img {
    height: 150px;
}

.root {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 575.98px) {
    .title {
        font-size: 2em;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 576px) {
    .title {
        font-size: 4em;
        grid-template-columns: 1fr;
    }
}