@media (max-width: 575.98px) {
    .icons a img {
        width: 40px !important;
        height: 40px !important;
    }
    .nicknameText {
        margin-bottom: 1.5rem !important;
    }
    .icons {
        margin-top: 10px;
    }
    .teamType {
        width: 40px !important;
        height: 40px !important;
    }
}

.icons {
    display: flex;
    flex-grow: 1;
}

.icons a {
    margin-right: 10px;
}

.wordBreakAll {
    word-break: break-all;
}

.teamType {
    width: 30px;
    height: 30px;
    border-radius: 10%;
    margin-right: 10px;
}

.icons a img {
    width: 30px;
    height: 30px;
}

.nicknameText {
    font-size: 1.6em;
    margin-bottom: 0.5rem;
}
