.icons {
    display: flex;
    gap: 10px;
}

.wordBreakAll {
    word-break: break-all;
}

.teamType {
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 10%;
    margin-right: 10px;
}

.icons a img {
    width: var(--icon-size);
    height: var(--icon-size);
}

.card {
    transition: box-shadow 300ms ease-in;
}

.card:hover {
    box-shadow: var(--hover-shadow);
}